@include media-breakpoint-up(lg) {
    .main-nav {
        &__link {
            border-bottom: none;
        }
    }
    .main-header {
        &__logo {
            height:29px;
            margin: 20px 0;
        }
    }
    .banner {
        height:100vh;
        &__contenedor {
            height:100vh;
        }
        &__info-principal {
            .banner__titulo {
                font-size:2.5em;
                margin-bottom: 55px;
                span {
                    // pasar "los grandes jugadores" a la segunda linea
                    display:block;
                }
            }
            .banner__texto {
                margin-bottom: 55px;
                margin-top:0;
            }
            .banner__cta {
                font-size:1em;
            }
            .banner__cta:hover {
                background:white;
                color:$verde-marca;
            }
        }
        &__imagen {
            width:100%;
            max-height:460px;
        }
    }

    .imagen-seccion {
        width:100%;
        max-height:500px;
        padding:75px;
    }
    .texto-seccion {
        border:none;
        font-size:1.3em;
        padding:75px 0 75px 75px;
        &__subtitulo {
            font-size:0.7em;
            padding: 12px 20px;
            border: 1px solid $gris;
            border-radius:7px;
            margin-bottom: 12px;
        }
    }
    .contenedor-imagen-seccion {
        display:relative;
    }
    .triangulo-1 {
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
    }
    .triangulo-2 {
        position:absolute;
        bottom:0;
        right:0;
        z-index: -1;
    }

    .texto-seccion-2 {
        flex-basis:100%;
        font-size:1.3em;
        &__titulo {
            font-size:1.5em;
            span {
                display: block;
            }
        }
        &__subtitulo {
            border:none;
            font-size:0.7em;
        }
    }

    .triangulo-1-lg {
        position:absolute;
        bottom:0;
        left:0;
    }
    .triangulo-2-lg {
        position:absolute;
        top:0;
        right:0;
        max-height:130px;
    }
    .seccion-3 {
        .texto-seccion {
            padding: 0 75px 0 0;
            &__cta {
                display:inline-block;
                font-size:0.8em;
                position:relative;
                text-decoration:none;
                text-align:center;
                padding: 10px 0;
                color:white;
                font-weight:bold;
                background:#66BDED;
                border-radius: 7px;
            }
        }
            
    }
    #particles-js {
        position:absolute;
        z-index:11;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
    }
    .footer {
        font-size:1.1em;
        &__image-container {
            height:220px;
        }
        &__copyright {
            font-size:0.7em;
        }
    }
    .seccion-3 {
        padding-bottom:150px;
    }
    
}