// CLASES GENERALES

body {
    font-family: 'DM Sans', sans-serif;
    background: #F9F9F9;
    overflow-x: hidden;
}


// HEADER

.header-container {
    position:fixed;
    width:100%;
    background:#fefefe;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    align-items: center;
    z-index:100;
    // display:flex;
    // align-items: center;
    // justify-content: center;
}

.main-header {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    &__logo {
        height:26px;
        margin: 10px 0;
    }
    &__button:active,&__button:focus,&__button:hover {
        outline:none;
    }
}

.main-nav {
    &__link {
        font-size:0.9em;
        font-weight:bold;
        display:block;
        color:$color-menu-item;
        width:100%;
        height:100%;
        padding: 15px 0;
        border-bottom: 1px solid $gris;
        line-height:100%;
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color:black;
    }
}

.social-nav {
    &__element {
        font-size:0.9em; 
    }
    &__link {
        color:$color-menu-item;
        font-weight:bold;
        &--last {
            padding: 7px 8px;
            background:$verde-marca;
            color:white;
            border-radius:7px;
        }
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color: black;
    }
    &__link--last:active, &__link--last:hover {
        color:white;
    }
}

// BANNER

.banner {
    height:80vh;
    width:100vw;
    position:relative;
    overflow: hidden;
    &__contenedor {
        overflow:hidden;
        object-fit:cover;
        position:relative;
        height:80vh;
        width:100%;
        z-index: 1;
    }
    &__imagen-fondo {
        max-width:100%;
        min-height:100%;
        object-fit:cover;
        z-index:1;
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:-1;
    }
    &__gradiente {
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: rgb(17,153,180);
        background: linear-gradient(90deg, rgba(17,153,180,0.65) 0%, rgba(0,193,139,0.65) 100%);
    }
    &__decoracion {
        position:absolute;
        bottom:-5px;
        right: 0;
        left: 0;
        width:100%;
        z-index:10;
    }
    &__info-principal {
        position:relative;
        height:100%;
        width:100%;
        z-index:100;
        color:white;
        .banner__titulo {
            font-size:1.8em;
            font-weight:700;
        }
        .banner__texto {
            font-size:1em;
            margin: 20px 0;
        }
        .banner__cta {
            display:inline-block;
            text-align: center;
            font-size: 1em;
            border:1.5px solid white;
            padding:7px 25px;
            margin-top:10px;
            color:white;
            text-decoration:none;
            border-radius:7px;
        }
    }
}

// SECCION 1

.seccion-1 {
    padding: 75px 0;
    width: 100%;
    background-color: #F9F9F9;
    position: relative;
    z-index:10;
}

.imagen-seccion {
    width:100%;
    max-height:350px;
}

.texto-seccion {
    padding: 26px 15px;
    border-left: 1px solid $gris;
    border-right: 1px solid $gris;
    border-bottom: 1px solid $gris;
    &__subtitulo {
        font-size:0.8em;
        margin-bottom:2px;
    }
    &__titulo {
        font-size:1.5em;
        font-weight:700;
    }
    &__parrafo {
        padding-top:15px;
        margin-bottom:0;
        font-size:0.8em;
        color:#666;
        strong {
            color:black;
        }
    }
}