@include media-breakpoint-up(md) {
    .banner {
        height:90vh;
        &__contenedor {
            height:90vh;
        }
        &__info-principal {
            font-size:1.2em;
            .banner__cta { 
                font-size:0.8em;
            }
        }
    }
    .texto-seccion {
        padding: 20px 20px;
        border-left: none;
        border-top: 1px solid $gris;
        border-right: 1px solid $gris;
        border-bottom: 1px solid $gris;
    }
}