// CLASES GENERALES

body {
    font-family: 'DM Sans', sans-serif;
    background: #F9F9F9;
    overflow-x: hidden;
}

.root {
    overflow-y: hidden;
}

// HEADER

.header-container {
    position:fixed;
    width:100%;
    background:#fefefe;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    -moz-box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    box-shadow: -1px 11px 8px -6px rgba(0,0,0,0.11);
    align-items: center;
    z-index:110;
}

.main-header {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    &__logo {
        height:26px;
        margin: 10px 0;
    }
    &__button:active,&__button:focus,&__button:hover {
        outline:none;
    }
}

.main-nav {
    &__link {
        font-size:0.9em;
        font-weight:bold;
        display:block;
        color:$color-menu-item;
        width:100%;
        height:100%;
        padding: 15px 0;
        border-bottom: 1px solid $gris;
        line-height:100%;
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color:black;
    }
}

.social-nav {
    &__element {
        font-size:0.9em; 
    }
    &__link {
        color:$color-menu-item;
        font-weight:bold;
        &--last {
            padding: 7px 8px;
            background:$verde-marca;
            color:white;
            border-radius:7px;
        }
    }
    &__link:active,&__link:hover {
        text-decoration:none;
        color: black;
    }
    &__link--last:active, &__link--last:hover {
        color:white;
    }
}

// BANNER

.banner {
    width:100vw;
    position:relative;
    overflow: hidden;
    &__contenedor {
        overflow:hidden;
        object-fit:cover;
        position:relative;
        width:100%;
        z-index: 1;
    }
    &__imagen-fondo {
        max-width:100%;
        min-height:100%;
        object-fit:cover;
        z-index:1;
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:-1;
    }
    &__gradiente {
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: rgb(17,153,180);
        background: linear-gradient(90deg, rgba(17,153,180,0.65) 0%, rgba(0,193,139,0.65) 100%);
    }
    &__decoracion {
        position:absolute;
        bottom:-5px;
        right: 0;
        left: 0;
        width:100%;
        z-index:10;
    }
    &__info-principal {
        position:relative;
        padding-top: 100px;
        padding-bottom: 100px;
        width:100%;
        z-index:100;
        color:white;
        .banner__titulo {
            font-size:1.8em;
            font-weight:700;
        }
        .banner__texto {
            font-size:1em;
            margin: 20px 0;
        }
        .banner__cta {
            display:inline-block;
            text-align: center;
            font-size: 1em;
            border:1.5px solid white;
            padding:7px 25px;
            margin-top:10px;
            color:white;
            text-decoration:none;
            border-radius:7px;
        }
    }
}

// SECCION 1

.seccion-1 {
    padding: 75px 0 50px 0;
    width: 100%;
    background-color: #F9F9F9;
    position: relative;
    z-index:10;
}

.imagen-seccion {
    width:100%;
    max-height:350px;
}

.texto-seccion {
    padding: 26px 15px;
    border-left: 1px solid $gris;
    border-right: 1px solid $gris;
    border-bottom: 1px solid $gris;
    &__subtitulo {
        font-size:0.9em;
        margin-bottom:8px;
    }
    &__titulo {
        font-size:1.5em;
        font-weight:700;
    }
    &__parrafo {
        padding-top:15px;
        margin-bottom:0;
        font-size:0.9em;
        color:#666;
        strong {
            color:black;
        }
    }
}

// SECCION 2

.seccion-2 {
    padding:25px 0 75px 0;
    width: 100%;
    background-color: #F9F9F9;
    position: relative;
    z-index:10;
}

.texto-seccion-2 {
    width:100%;
    padding:50px 0;
    margin:0;
    position:relative;
    border:0;
    &__subtitulo {
        width:100%;
        display:inline-block;
        font-size:0.8em;
        margin-bottom:2px;
        text-align: center;
    }
    &__titulo {
        display:inline-block;
        font-size: 1.2em;
        font-weight:700;
        text-align: center;
    }
    .triangulo-1 {
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        max-height:50px;
    }
    .triangulo-2 {
        position:absolute;
        bottom:0;
        right:0;
        z-index: -1;
        max-height:50px;
    }
}

// SECCION 3

.seccion-3 {
    padding-top:0;
    .contenedor-imagen-seccion {
        object-fit: cover;
    }
    .imagen-seccion {
        object-fit: cover;
        width:100%;
        height:100%;
    }
    .texto-seccion {
        padding-bottom: 50px;
        position:relative;
        &__parrafo {
            padding-bottom: 20px;
        }
        &__cta {
            position:absolute;
            text-decoration:none;
            left: 0;
            right: 0;
            bottom:0;
            text-align:center;
            padding: 10px 0;
            color:white;
            font-weight:bold;
            background:$verde-marca;
        }
    }
}

// FOOTER
.footer {
    position:relative;
    z-index:100;
    &__imagen {
        position:absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index:100;
        object-fit: cover;
    }
    &__image-container {
        position:relative;
        width:100%;
        height:30px;
        overflow: hidden;
        object-fit: cover;
    }
    &__gradiente {
        height:100%;
        position:absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index:101;
        background: rgb(17,153,180);
        background: linear-gradient(90deg, rgba(17,153,180,0.65) 0%, rgba(0,193,139,0.65) 100%);
    }
    &__contenido {
        background: #222;
        padding-top:40px;
    }
    &__logo {
        max-width:120px;  
    }
    &__info {
        color:white;
        text-decoration:none;
        h6{
            font-weight:700;
            margin-bottom: 25px;
        }
        a {
            font-size:0.8em;
            color:white;
        }
        &--1 {
            padding-top:50px;
            padding-bottom:30px;
        }
        &--2 {
            padding-bottom:30px;
        }
        &--3 {
            padding-bottom: 30px;
        }
    }
    &__copyright {
        font-size:0.8em;
        color:#999;
        margin-bottom: 25px;
        a {
            color:#999;
        }
    }
}

// PAGINA SOLUCIONES / TECNOLOGIA / EMPRESA
.page-header {
    padding-top:56px;
    background: rgb(17,153,180);
    background: linear-gradient(90deg, rgba(17,153,180,0.65) 0%, rgba(0,193,139,0.65) 100%);
    &__titulo {
        color:white;
        font-size:1.7em;
        margin:0;
        padding: 25px 0;
        font-weight:bold;
    }
}


// PAGINA SOLUCIONES

.seccion-principal {
    padding-top:50px;
    .texto-seccion {
        padding-top:50px;
        border:none;
    }
}

.seccion-1-soluciones {
    .contenedor-imagen {
        object-fit: cover;
    }
    .imagen-seccion {
        object-fit:cover;
    }
}

.soluciones-lista {
    padding-top:25px;
    padding-left:15px;
    padding-right:15px;
    &__elemento {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-basis: 49%;
        color: #666;
        font-weight:600;
        //text-align: center;
        font-size:0.8em;
        margin-bottom:15px;
        background: #eee;
        border-radius: 7px;
        text-align:center;
    }
    &__elemento--last {
        flex-basis:100%;
        width:100%;
    }
}

.seccion-3-soluciones {
    .texto-seccion {
        padding-bottom:15px;
    }
}

// PAGINA TECNOLOGIA

.seccion-principal-tecnologia {
    padding-top:50px;
    padding-bottom:50px;
    &__contenedor {
        padding-top:50px;
    }
}

.imagen-seccion-principal {
    height:100%;
    &__imagen {
        width:100%;
        padding:25px;
    }
}
.texto-seccion-principal {
    &__subtitulo {
        font-size:0.9em;
        margin-bottom:8px;
    }
    &__titulo {
        font-size:1.5em;
        font-weight:700;
    }
    &__parrafo {
        padding-top:15px;
        margin-bottom:0;
        font-size:0.9em;
        color:#666;
        strong {
            color:black;
        }
    }
}
.tecnologias {
    padding-bottom: 50px;
}
.tecnologia {
    color:#666;
    border: 1px solid $gris;
    padding-top: 25px;
    padding-bottom: 25px;
    margin:25px 0;
    &__titulo {
        font-size:1.35em;
        color:black;
        font-weight:bold;
        margin-bottom:25px;
        &::before {
            display:inline-block;
            content:" ";
            background: $verde-marca;
            height:20px;
            width:13px;
            margin-right: 5px;
        }
    }
    &__texto {
        font-size:0.9em;
        margin-bottom:0;
    }
}